<div class='wrapper col-md-3'>
  <div id="sidebar-wrapper">
    <h1>Find new music</h1>
      <div class='category-sidebar'>
      <h3>Most Popular Users</h3>
      {{#each popular}}
        <div class='user-sidebar'>       
         {{~#link-to 'users.show' this}}<img src={{unbound photo}} class="follow-img">{{~/link-to}}
        </div> 
      {{/each}}
      </div>
      <div class='category-sidebar'>
      <h3>Newest Additions</h3>
      {{#each newest}}
        <div class='user-sidebar'>
         {{~#link-to 'users.show' this}}<img src={{unbound photo}} class="follow-img">{{~/link-to}}
        </div>
      {{/each}}
      </div>
  </div>
</div>
<div id="page-content-wrapper">
  <div class="page-content ">
    <div class="container user-page">
      <div class="row">
        <div class="col-md-9">
          <ul class="user-list">
          {{#each}}

          <li class='user-list-item' >
            <div class= 'user'>
            <img src={{unbound photo}} class="follow-img">
              <span class='user-header'><h4>{{~#link-to 'users.show' this}}{{name}}{{~/link-to}}</h4>
              Song Count: {{activities.length}}</span>
              {{#if following}}
              <div class='follow-button'><button class='btn btn-danger' {{action 'unfollow'}}>Unfollow</button></div>
              {{else}}
              <div class='follow-button'><button class='btn btn-warning'{{action 'follow'}}> Follow! </button></p></div>
              {{/if}}
              <div class="followers">Following: {{subscriptions.length}}</p></div>
              <table class='hidden'>
                <tr></tr>
                <td>Song</td>
                <tr></tr>
                <td>Another</td>
              </table>
            </div>
        </li>

          {{/each}}
          <ul>
        </div>
      </div>
    </div>
  </div>
</div>
