<div class="modal-dialog">
  <div class="modal-content">
      <h3 class="flush--top">Youtube Settings</h5>
        <p><a href="http://127.0.0.1:3000/auth/google_oauth2"  target="_blank" >
          Connect
        </a></p>
        {{#each subscription in subscription itemController='subscription'}}
          {{#with subscription}}
          {{#if isTracked}}
          <p><button {{action untrack}}><b> {{title}}</b></button> !!!</p>
          {{else}}
          <p><button {{action track}}> {{title}}</button></p>
          {{/if}}
          {{/with}}
        {{/each}}
      <button {{action "close"}}>Done</button>
  </div>
</div>
