<div class='wrapper col-md-3'>
  <div id="sidebar-wrapper">
    <div class='usercard'>
      <img class='avatar' src='https://s3-us-west-2.amazonaws.com/tunefish/logo.jpg'>
      <p class='manage'>Manage Your Acccounts</p>
      <div class='icon-container'>
        {{#view "soundcloudimage" class="ember-view-image"}}
        <img src='https://s3-us-west-2.amazonaws.com/tunefish/soundcloud-icon.png' height='26%' width='26%' class="provider-image" id="soundcloud-icon">
        {{/view}}
        {{#view "youtubeimage" class="ember-view-image"}}
        <img src='https://s3-us-west-2.amazonaws.com/tunefish/256px-Youtube_icon.svg.png' height='23%' width='23%' class="provider-image" id="youtube-icon">
        {{/view}}
        {{#view "twitterimage" class="ember-view-image"}}
        <img src='https://s3-us-west-2.amazonaws.com/tunefish/twitter-icon.png' height='23%' width='23%' class="provider-image" id="twitter-icon">
        {{/view}}
        <table id = "soundcloud-table" class="table table-condensed">
          <tr>
            <td role="presentation"><a href="#" class="login-link" onclick="openAuthWindow('soundcloud');">Login with Soundcloud</a></td>
          </tr>
        </table>

        <table id = "youtube-table" class="table table-condensed">
          <tr>
            <td role="presentation"><a href="#" class="login-link" onclick="openAuthWindow('google_oauth2');">Login with Youtube</a><span id="line"></span></td>
            <td role="presentation"><a class='jsYoutubeModal login-link' {{action openModal 'youtube_subscriptions' model}}>Tracked Subscriptions</a></td>
          </tr>
        </table>

        <table id = "twitter-table" class="table table-condensed">
          <tr>
            <td role="presentation"><a href="#" class="login-link" onclick="openAuthWindow('twitter');">Login with Twitter</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <h3>Feed Content</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" {{bind-attr style=styledSoundcloudPercentage}}>
          Soundcloud
          <span class="sr-only"> {{soundcloudPercentage}}% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: {{bind-attr style=styledYoutubePercentage}}%">
          Youtube
          <span class="sr-only">{{youtubePercentage}}% Complete (danger)</span>
        </div>
        <div class="progress-bar" style="width: {{bind-attr style=styledTwitterPercentage}}%">
          Twitter
          <span class="sr-only">{{twitterPercentage}}% Complete (success)</span>
        </div>
      </div>
    </div>
    <div>
      <h3>Filter Music</h3>
      <div class='filters'>
        <h4>By Provider</h4>
        <p class='provider-filters'>
          {{#view 'youtube_filter'}}<input type='checkbox' checked>Youtube<br>{{/view}}
          {{#view 'twitter_filter'}}<input type='checkbox' checked>Twitter<br>{{/view}}
          {{#view 'soundcloud_filter'}}<input type='checkbox' checked>Soundcloud<br>{{/view}}
        </p>
        <h4>Tags</h4>
        <p class='provider-filters'>
          <input type='checkbox'>Funk<br>
          <input type='checkbox'>Rock<br>
          <input type='checkbox'>Jazz<br>
          <input type='checkbox'>Blues<br>
        </p>
      </div>
      <h3>Recommended<small><a class="see-more" href='/users'>See More </a></small></h3>
      <div>

      </div>
    </div>
  </div>
</div>
<div>
  <div id="page-content-wrapper">
    <div class="page-content ">
      <div class="container feed-page">
        <div class="row">
          <div class="col-md-9">
            <div class='feed'>
              <div class="tabslist">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="tab-list active"><a href="#your-music" role="tab" data-toggle="tab">Your Music</a></li>
                  <li role="presentation" class="tab-list"><a href="#subscriptions" role="tab" data-toggle="tab">Subscription</a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="your-music">
                  {{outlet 'modal'}}
                  {{#each activity in activity itemController="activity"}}
                  {{#with activity}}
                  {{#if isYoutube}}
                  <div class='music youtube'>
                    <iframe width="100%" height="500" src={{unbound url}} frameborder="0" allowfullscreen></iframe>
                  </div>
                  {{/if}}
                  {{#if isSoundcloud}}
                  <div class='music soundcloud'>
                    <iframe height='200' width='100%' scrolling="no" frameborder="no" src={{unbound url}}></iframe>
                  </div>
                  {{/if}}
                  {{#if isTwitter}}
                  <div class='tweet'>{{{unbound url}}}</div>
                  {{/if}}
                  {{/with}}
                  {{/each}}
                </div>
                <div role="tabpanel" class="tab-pane" id="subscriptions">
                  {{#each subscription_activity in subscription_activity itemController="activity"}}
                  {{#with subscription_activity}}
                  {{#if isYoutube}}
                  <div class='music'>
                    <iframe width="100%" height="500" src={{unbound url}} frameborder="0" allowfullscreen></iframe>
                  </div>
                  {{/if}}
                  {{#if isSoundcloud}}
                  <div class='music'>
                    <iframe height='200' width='100%' scrolling="no" frameborder="no" src={{unbound url}}></iframe>
                  </div>
                  {{/if}}
                  {{#if isTwitter}}
                  <div class='tweet'>{{{unbound url}}}</div>
                  {{/if}}
                  {{/with}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
